body{
	font-family: 'Open Sans', sans-serif;
}
ul, li{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.container{
	position: relative;
}
.clearfix:after{
	clear: both;
	content: ' ';
	display: block;
}
.item-detail{
	width: 100%;
	background: #333;
	left: 0;
	clear: both;
	box-sizing:border-box;
	display: none;
	position: absolute;	
}
.item-detail:after{
	clear: both;
	content: '';
	display: block;
	width: 100%;
}
.id-left,
.id-right{
	float: left;
	width: 50%;
	padding: 10px;
	box-sizing:border-box;
}
.gallary-wrapper > ul > li{
	display: inline-block;
	vertical-align: top;
}
.gallary-wrapper > ul > li > a{
	display: block;
	padding: 10px;
	box-sizing:border-box;
}
.gallary-wrapper > ul > li > a > img{
	max-height: 150px;
}
.id-left{
	text-align: center;
}
.id-left img{
	max-width: 100%;
}
.id-right{
	color: #f0f0f0;
	padding-right: 60px;
	position: relative;
}
/*.id-right:before{
	content: 'X';
	font-size: 25px;
	position: absolute;
	right: 10px;
	top: 10px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #ddd;
}*/
.gallary-wrapper li.active > a{
	position: relative;
}
.gallary-wrapper li.active a:after {
    border-bottom: 10px solid #333;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    position: absolute;
    bottom: 0px;
    width: 0;
    content: '';
    left: 0;
    right: 0;
    margin: 0 auto;
    }

@media all and (max-width: 639px){
.id-left,
.id-right{
	width: 100%;
}
.id-right{
	color: #f0f0f0;
	padding: 0px 20px 20px 20px;
}
}